.wp-sage-101-primary-btn {
  padding: 0.375rem 0.75rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  border-radius: 5px;
}

.wp-sage-101-primary-btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.wp-sage-101-secondary-btn {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.wp-sage-101-secondary-btn:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.wp-sage-101-success-btn {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.wp-sage-101-success-btn:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.wp-sage-101-danger-btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.wp-sage-101-danger-btn:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.wp-sage-101-warning-btn {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.wp-sage-101-warning-btn:hover {
  color: #000;
  background-color: #e0a800;
  border-color: #d39e00;
}

.wp-sage-101-info-btn {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.wp-sage-101-info-btn:hover {
  color: #000;
  background-color: #138496;
  border-color: #117a8b;
}

