<div class="container">
    <div class="row">
            <div class="col-md-4">
                    <div class="sidebar-main">
                        <aside id="search-2" class="widget widget_search">
                            <form role="search" method="get" class="search-form" action="">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                                </label>
                                <input type="submit" class="wp-sage-101-secondary-btn" value="Search">
                            </form>
                        </aside>
                        <aside id="recent-posts-2" class="widget widget_recent_entries">
                            <h2 class="widget-title">Recent Posts</h2>
                            <ul>
                                <li>
                                    <a href="#">Hello world!</a>
                                </li>
                            </ul>
                        </aside>
                        <aside id="recent-comments-2" class="widget widget_recent_comments">
                            <h4 class="widget-title">Recent Comments</h4>
                            <ul id="recentcomments">
                                <li class="recentcomments"><span class="comment-author-link"><a href="#" class="url">A WordPress
                                            Commenter</a></span> on <a href="#">Hello world!</a></li>
                            </ul>
                        </aside>
                        <aside id="archives-2" class="widget widget_archive">
                            <h2 class="widget-title">Archives</h2>
                            <ul>
                                <li><a href="#">January 2020</a></li>
                            </ul>
                        </aside>
                        <aside id="categories-2" class="widget widget_categories">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                <li class="cat-item cat-item-1"><a href="#">Uncategorized</a>
                                </li>
                            </ul>
                        </aside>
                        <aside id="meta-2" class="widget widget_meta">
                            <h2 class="widget-title">Meta</h2>
                            <ul>
                                <li><a href="#">Test</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
        <div class="col-md-8">
            <div class="main-content">
                <h4>Sample Page</h4>
                <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
                    fabulas ut
                    quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec
                    et.
                    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor sit amet, illum
                    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur
                    ius
                    te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad.
                    Eum
                    no molestiae voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
                    fabulas ut
                    quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec
                    et.
                    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor sit amet, illum
                    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur
                    ius
                    te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad.
                    Eum
                    no molestiae voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
                    fabulas ut
                    quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec
                    et.
                    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor sit amet, illum
                    definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur
                    ius
                    te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad.
                    Eum
                    no molestiae voluptatibus.</p>
            </div>
        </div>
    </div>
</div>