<div class="tabs">
		<input name="tabs" type="radio" id="tab-1" checked="checked" class="input" />
		<label for="tab-1" class="label first-label">
			<span class="dashicons dashicons-book"></span>
			<span>Tab One</span>
		</label>
		<div class="panel">
			<p>A clementine (Citrus ×clementina) is a hybrid between a mandarin orange and a sweet orange, so named in
				1902. The exterior is a deep orange colour with a smooth, glossy appearance. Clementines can be
				separated into 7 to 14 segments. Similarly to tangerines, they tend to be easy to peel.ASDASDADAS</p>
		</div>
		<input name="tabs" type="radio" id="tab-2" class="input" />
		<label for="tab-2" class="label">
			<span class="dashicons dashicons-businessperson"></span>
			<span>Tab Two</span>
		</label>
		<div class="panel">
			<p>A clementine (Citrus ×clementina) is a hybrid between a mandarin orange and a sweet orange, so named in
				1902. The exterior is a deep orange colour with a smooth, glossy appearance. Clementines can be
				separated into 7 to 14 segments. Similarly to tangerines, they tend to be easy to peel.4342434242</p>
		</div>

		<input name="tabs" type="radio" id="tab-3" class="input" />
		<label for="tab-3" class="label last-label">
			<span class="dashicons dashicons-admin-network"></span>
			<span>Tab Three</span>
		</label>
		<div class="panel">
			<p>A clementine (Citrus ×clementina) is a hybrid between a mandarin orange and a sweet orange, so named in
				1902. The exterior is a deep orange colour with a smooth, glossy appearance. Clementines can be
				separated into 7 to 14 segments. Similarly to tangerines, they tend to be easy to peel.JKLJKLJPUIOUI</p>
		</div>
	</div>