<div class="row">
    <div class="col-md-12">
        <div class="comment-block">
            <h4>title name</h4>
            <div class="row no-gutters">
                <div class="col-md-1">
                    <div class="img-block"></div>
                </div>
                <div class="col-md-11">
                    <div class="comments-body">
                        <h5 class="comments-title">Name</h5>
                        <p class="subtext"><small>Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <p class="comments-text">This is a wider card with supporting text below as a natural lead-in to additional content. <br>This
                    content is a little bit longer.</p>
                <div class="reply-btn"><a href="#">Reply</div>
            </div>
        </div>
    </div>
</div>